@model IEnumerable<BespokedBikes.Models.Report>
@{
    ViewData["Title"] = "Index";
}

<h1>Comissions report for quarter @ViewBag.Quarter of year @ViewBag.Year</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalespersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumProductsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesCommission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalespersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumProductsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesCommission)
            </td>

        </tr>
        }
    </tbody>
</table>
